


// .social-icons-top{
//     display: flex;
//     flex-direction: column;
    

//     a:hover{
//         background-color: transparent;
//     }
// }

// "Sidan ska gå att zooma in och zooma ut, utan att layouten 
// "tappar det"/slutar fungera (Ctrl/Cmd + och – i webbläsaren)."
// fungerar väl sådär. fråga Mikko på fredag


.top-container{
    position: inherit;
    top: 50vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 10vh 10vh;
    grid-template-areas: 
    ". header-section ."
    "social-icons . scroll";
}

.social-icons{
    grid-area: social-icons;
    margin-left: 10%;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
}

.header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header-section;
    gap: 4rem;
    text-align: center;
    padding-left: 15px;
}

.scroll{
    grid-area: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    & p{
        word-break: keep-all;
    }
}

.sidebar-container.skills{
    grid-area: skills;
}

.sidebar-container.lang{
    grid-area: lang;
}

.sidebar-container.hobbies{
    grid-area: hobbies;
}



.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }



@media(max-width: 679.9px){

    section.sidebar{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "skills skills"
        "lang hobbies";
      }
  }

@media(min-width: 680px){
  .sidebar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "skills lang hobbies";
    }

    .text-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 5% 0;
    }

    footer > *{
        padding-left: 40%;
    }

}

@media(min-width: 1350px){
    .text-container{
        margin: 5%;
    }

    // ul.footer > li{
    //     display: inline-flex;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center
    // }

}