@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Titillium+Web:wght@200;400;600&display=swap');
@import './layout';



$yellow: #fefe00a3;
$strong-yellow: #FEFE00;
$navbar-color: #5360A4;
$darker-navbar-color: #3b4578;
$main-textcolor: white;
$font-family-Oswald: 'Oswald', sans-serif;
$font-family-Titillium: 'Titillium Web', sans-serif;
$font-weights: (
    "thin": 200,
    "regular": 400,
    "bold": 600
);
$lighter-navbar-color: #a8b1db;


/* nästa steg är att grida layouten responsivt
därefter kan jag pilla med allt smått och 
snygga effekter, färger, bilder, mm 

kanske kan göra dark theme? mha sån function som ändrar färg efter bakgrundsdarkness*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family-Titillium;
}

a{
    text-decoration: none;
    color: $main-textcolor;
}

li{
    list-style: none;
}

header{
    // background-image: url('../assets/pears.jpg'), linear-gradient(rgba(83, 96, 164, 0.8), rgba(83, 96, 164, 0.8));
    background-color: $navbar-color;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
}
.nav-logo{
    font-size: 1.5rem;
}

img.profile-pic{
    border-radius: 50%;
}

.header-text{
    color: $main-textcolor;

    h1{
        font-size: 2.4rem;
        font-family: $font-family-Titillium;
    }

    h2{
        font-family: $font-family-Oswald;
        padding-top: 0.4rem;
        font-size: 1.25rem;
        font-weight: map-get($font-weights, regular);
    }
}

a.social-links{
    transition: all 0.3s ease-in-out, transform 0.2s;

    &:hover{
        background-color: none;
        color: $darker-navbar-color;
        text-decoration: none;
        transform: scale(1.1);
      }
}

/* funkar ej
.social-icons::after{
    background-color: $main-textcolor;
    content: '';
    width: 32px;
    height: 2px;
    transform: rotate(90deg), translate(16px, 3px);
}  */

.scroll{
    transform: rotate(90deg);
    text-transform: lowercase;
    color: $main-textcolor;
    opacity: 0.4;
    // &:after{
    //     content: '➡';
    // }
    // fixa pilen så den kommer på samma rad
}

// -----------------NAVBAR--------------------

.navbar{
    z-index: 3;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: $navbar-color;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    
}

a.nav-link{
        font-weight: 500;
        box-shadow: inset 0 0 0 0 $strong-yellow;
        color: $main-textcolor;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .2s ease-in-out, box-shadow .3s ease-in-out;
      }
      a.nav-link:hover {
        box-shadow: inset 100px 0 0 0 $strong-yellow;
        color: $navbar-color;
      }

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $main-textcolor;
}

// ----------- ABOUT SECTION-----------------

main{
    background-color: $lighter-navbar-color;
    min-height: 100vh;
    padding: 2rem;
}


.text-box{
    background-color: $navbar-color;
    color: $main-textcolor;
    padding: 1rem;
    margin: 1rem;
    width: 97%;

    .heading{
        display: flex;
        justify-content: space-between;
        span{
            font-weight: map-get($font-weights, regular);
            text-align: right;
            font-size: 1rem;
            color: $lighter-navbar-color;
        }
    }

    p{
        padding: 0.5rem 0;
        
        &:not(:last-child):before{
            content: '💙';
            width: 50px;
            // vill göra ett indrag i texten
        }
    }
}

.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

//   ------------------SKILLS ETC--------------

// --------------------FOOTER-----------------

footer{
    color: $main-textcolor;
}




@media(max-width: 768px) {

    // -------------NAVMENU-------------
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;    
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);  
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);  
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $navbar-color;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        // kan sätta en background på denna t ex 
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
    
}

// Windows: Ctrl + K + U för att  uncomment code









// body{
//     background-image: url('https://images.unsplash.com/photo-1597495529689-45d6da6fcbac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80'), linear-gradient(rgba(255, 255, 255, 0.459), rgba(246, 246, 246, 0.305));
// }

// @media screen and (min-width: 650px) {

// .grid-system{
//     display: grid;
//     grid-template-columns: 0.1fr auto 2fr;
//     grid-template-rows: 3fr auto 3fr 0.1;
//     /* grid-template-areas: 
//     "side kontakt navbar"
//     "side photo header"
//     "side sidebar main"
//     ". sidebar footer"; */
// }

// .kontakt{
//     grid-area: kontakt;
//     background-color: var(--yellow);
//     grid-column: 2 / 3;
//     grid-row: 1 / 2;
//     text-align: right;
// }
// .navbar{
//     grid-area: navbar;
//     grid-column: 3 / 4;
//     grid-row: 1 / 2;

// }
// .photo{
//     grid-area: photo;
//     grid-column: 2 / 3;
//     grid-row: 2 / 3;
//     z-index: 5;
//     margin-bottom: 0;
//     padding-bottom: 0;
// }
// header{
//     grid-area: header;
//     background-color: var(--yellow);
//     grid-column: 1 / 4;
//     grid-row: 2 / 3;
//     display: grid;
//     grid-template-columns: 0.7fr 1.5fr 0.5fr;
//     grid-template-rows: 1fr;
// }

// .header-text{
//     grid-column: 2 / 3;
//     grid-row: 1 / 2;
// }


// .sidebar{
//     grid-area: sidebar;
//     background-color: var(--yellow);
//     grid-column: 2 / 3;
//     grid-row: 3 / 5;
// }

// .main{
//     grid-area: main;
//     grid-column: 3 / 4;
//     grid-row: 3 / 4;
//     margin-left: 20px;
//     // använd denna i main för att scrolla https://alvarotrigo.com/blog/css-animations-scroll/
// }


// .footer{
//     grid-area: footer;
//     grid-column: 3 / 4;
//     grid-row: 4 / 5;
// }
// }


// // ----------------





// .navbar{
//     list-style: none;
//         }

// .navbar li{
//     display: inline;
//     padding: 5px;
// }

// nav{
//     justify-content: space-between;
// }



// img{
//     justify-content: center;
// } 


// // @media screen and (min-width:600px){}