@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Titillium+Web:wght@200;400;600&display=swap');
@import './layout';

$yellow: #fefe00a3;
$strong-yellow: #FEFE00;
$navbar-color: #5360A4;
$darker-navbar-color: #3b4578;
$main-textcolor: white;
$lighter-navbar-color: #a8b1db;
$dark-text-color: black;
$skillbar-fillcolor: rgb(244, 76, 224);
$toned-skillbar-color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
$font-family-Oswald: 'Oswald', sans-serif;
$font-family-Titillium: 'Titillium Web', sans-serif;
$font-weights: (
    "thin": 200,
    "regular": 400,
    "bold": 600
);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family-Titillium;
}

a{
    text-decoration: none;
    color: $main-textcolor;
}

li{
    list-style: none;
}

header{
    background-color: $navbar-color;
    background-position: center;
    background-size: cover;
    position: relative;
    width: auto;
    min-height: 800px;
    background-repeat: no-repeat;
}

@media(max-width: 500px){
    header{
        height: 100vh;
    }

}

.nav-logo{
    font-size: 1.5rem;
}

img.profile-pic{
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
}

@media(max-width: 679.9px){

    img.profile-pic{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
    }
}

.header-text{
    color: $main-textcolor;

    h1{
        font-size: 2.4rem;
        font-family: $font-family-Titillium;
    }

    h2{
        font-family: $font-family-Oswald;
        padding-top: 0.4rem;
        font-size: 1.25rem;
        font-weight: map-get($font-weights, regular);
    }
}

a.social-links{
    transition: all .2s ease-in-out; 

    &:hover{
        background-color: none;
        color: $darker-navbar-color;
        transform: scale(1.1);
      }
}

/* funkar ej
.social-icons::after{
    background-color: $main-textcolor;
    content: '';
    width: 32px;
    height: 2px;
    transform: rotate(90deg), translate(16px, 3px);
}  */

.scroll{
    transform: rotate(90deg);
    text-transform: lowercase;
    color: $lighter-navbar-color;
    width: 100px;

        & p{
            word-break: keep-all;
        }

    // &:after{
    //     content: '➡';
    // }
    // fixa pilen så den kommer på samma rad
}

@media(max-width: 464px) {

    // måste fixa headern så att den är responsiv

    .social-icons{
        padding-left: 1rem;
    }

}



// -----------------NAVBAR--------------------

.navbar{
    z-index: 3;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: $navbar-color;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    
}

a.nav-link{
        font-weight: 500;
        box-shadow: inset 0 0 0 0 $strong-yellow;
        color: $main-textcolor;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .2s ease-in-out, box-shadow .3s ease-in-out;
      }
      a.nav-link:hover {
        box-shadow: inset 100px 0 0 0 $strong-yellow;
        color: $navbar-color;
      }

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $main-textcolor;
}

// kommenterar ut navbaren då den inte behövs (för få menyval)
// @media(max-width: 768px) {

//     // -------------NAVMENU-------------
//     .hamburger{
//         display: block;
//     }

//     .hamburger.active .bar:nth-child(2){
//         opacity: 0;    
//     }
//     .hamburger.active .bar:nth-child(1){
//         transform: translateY(8px) rotate(45deg);  
//     }
//     .hamburger.active .bar:nth-child(3){
//         transform: translateY(-8px) rotate(-45deg);  
//     }

//     .nav-menu{
//         position: fixed;
//         left: -100%;
//         top: 50px;
//         gap: 0;
//         flex-direction: column;
//         justify-content: flex-start;
//         background-color: $navbar-color;
//         width: 100%;
//         height: 100vh;
//         text-align: center;
//         transition: 0.3s;
//         // kan sätta en background på denna t ex linear gradient från ovan så att den fasar ner i annan färg 
//     }

//     .nav-item{
//         margin: 16px 0;
//     }

//     .nav-menu.active{
//         left: 0;
//     }
    
// }

// ----------- ABOUT SECTION-----------------

main{
    background-color: $lighter-navbar-color;
    padding: 2rem;
}


.text-box{
    background-color: $navbar-color;
    color: $main-textcolor;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    height: auto;

    .heading{
        display: flex;
        justify-content: space-between;
        gap: 0.8rem;
        span{
            font-weight: map-get($font-weights, regular);
            text-align: right;
            font-size: 1rem;
            color: $lighter-navbar-color;
        }
    }

    p{
        padding: 0.5rem 0;
    }

    & > .heading:not(first-child){
        margin-top: 0.8rem;
    }

}

.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

//   ------------------SKILLS ETC--------------

.sidebar{
    border: 5px solid $main-textcolor;
}

.sidebar-container{
    background-color: $navbar-color;
    color: $main-textcolor;
    border: 5px solid $main-textcolor;
    padding: 1rem;
    transition: all .2s ease-in-out; 
    &:hover { 
        transform: scale(1.03); 
        border: 5px solid $main-textcolor;
    }

    &.skills > h2:nth-child(1){
        margin-bottom: 1rem;
    }

}

.sidebar > div:nth-child(2){
    background-color: $lighter-navbar-color;
    color: $dark-text-color;  
}

// ------------skillbars------------------------

.skillcontainer{
    width: 100%;
    margin-bottom: 10px;
}
.skillbar{
    position: relative;
    border-radius: 20px;
    background-color: $main-textcolor;
  
}
.skillbar div{
    position: relative;
    width: 0;
    height: 0.5rem;
    border-radius: 10px;
    background-color: $skillbar-fillcolor;
    background: $toned-skillbar-color;

}

.skillcontainer2{
    margin: 0.5rem 0;
}

#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 75%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 50%;
    }
}

#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill{
    100%{
        width: 1%;
    }
}

// -------skillbars end-----

img.lang{
    
    // content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Sweden.svg/1280px-Flag_of_Sweden.svg.png');
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}


li.hobbies > i{
    padding-right: 0.5rem;

}

// --------------------FOOTER-----------------

footer{
    color: $main-textcolor;
    background-color: $darker-navbar-color;
    min-height: 16rem;
    padding: 1rem;
}

ul.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

p.footer{
    margin-top: 1rem;

}

.li-footer > i{
    padding-right: 0.5rem;
}

a.footer-links{
    transition: all 0.3s ease-in-out, transform 0.2s;
    padding-right: 0.5rem;

    &:hover{
        background-color: none;
        color: $navbar-color;
        text-decoration: none;
        transform: scale(1.1);
    }

    & > i{
        padding-right: 0.5rem;
    }
}
